<!DOCTYPE html>
<html lang="en">
<head>
    <title> {% block title %} Title {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="epoly.js" type="../static/js/epoly.js"> </script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Meet Halfway</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/">home</a></li>
          <li><a href="/search_midpoint">meetup</a></li>
          <li><a href="/invitations">invites</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if "user_id" in session %}
            <p class="navbar-text">hello, {{ session["sender"] }}!</p>
            <p class="navbar-text"><a href="/logout">logout?</a></p>
          {% else %}
            <!-- <li><a href="/login">Login</a></li> -->
          {% endif %}
        </ul>
        
      </div>
    </nav>
    <!-- end navbar -->

    <!-- flash messages -->
    <div class="messages">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                {% if message == "Logged in" or message == "Added" or message == "Logged out" %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
    <!-- end flash messages -->


    <h1 class="title">
        {% block page_title %}
        {% endblock %}
    </h1>


    <div class="content">
        {% block content %}
            Add content here!
        {% endblock %}
    </div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDXbmqoGjh-BtVtOjfl8bKkOVY6sSyilUU&libraries=geometry,places"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../static/js/script.js"></script>

</body>
</html>

