{% extends 'base.html' %}
{% block content %}

<form action="/delete-invitation/<invitation_id>" method="POST">
  <h3>Invite Details</h3>
  <div>Invite ID: {{ invitation.invitation_id }}</div>
  <div>Sender: {{ invitation.sender.name }}</div>
  <div>Receiver: {{ invitation.receiver.name }}</div>
  <div>{{ invitation.business_name }}</div><div>{{ invitation.business_address }}</div>
  <p><strong>***Deleting this invitation will delete it forever.***</strong></p>
<!-- <input type="submit" value="Delete" /> -->
  <button class="btn btn-warning delete_invitation" type="submit" class="delete_invitation" name="delete" value="Delete">Delete</button>
</form>

{% endblock %}