{% extends "base.html" %}

{% block title %} Invitations {% endblock %}

{% block content %}

<h3>Invitation Summary</h3>

{% for business_address in list_of_business_addresses %}

    <label> {{ business_address }}</label>
    <form action="invitations_history" method="get">
        <input type="radio" name="accept" value="accept" /> Accept
        <input type="radio" name="decline" value="decline" /> Decline
        <input type="submit" id="invitation_response" name="invitation_response" value="Submit">
    </form>

{% endfor %}

{% endblock %}