{% extends "base.html" %}

{% block title %} Invitations {% endblock %}

{% block content %}

<h3>Pending Invitations</h3>
    {% for invitation in invitations %}
    <label>Please respond to {{ invitation }}'s invitation to {{ invitation_location }}
    </label>
    <form action="invitations" method="post">
        <input type="radio" name="selection" value="accept" /> Accept
        <input type="radio" name="selection" value="decline" /> Decline
        <input type="submit" id="invitation_response" name="invitation_response" value="Submit">
    </form>
    {% endfor %}

{% endblock %}