{% extends "base.html" %}

{% block title %} Search Midpoint {% endblock %}

{% block content %}

<p>Meet Me Halfway</p>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <form action="/search_midpoint" method="GET">
        <div class="form-group" id="midpoint-form">
          <div>
            <label>
              <input type="text" id="location_a" placeholder="Your location(street, city or zipcode)" value="hackbright" name="location">
            </label>
          </div>
          <div>
            <label>
              <input type="text" id="location_b" placeholder="Their location(street, city or zipcode)" value="dublin, ca" name="location">
            </label>
          </div>
          <span>
            <button type="submit" value="submit" id="search">Search</button>
          </span>
        </div>
      </form>
        <div id="successFailureMessage"></div>
    </div>
    <div id="map" style="height: 500px;"></div>
  </div>
</div>


{% endblock %}