{% extends "base.html" %}

{% block title %} Search Midpoint {% endblock %}

{% block content %}

<p>Meet Me Halfway</p>

<div class="container">
    <!-- control div -->
    <div class="row">
        <div class="col-sm-3">
            <form action="/search_midpoint" method="GET">
                <div class="form-group" id="midpoint-form">
                    <div>
                      <label>Location A
                        <input type="text" id="location_a" name="location_a">
                      </label>
                    </div>
                    <div>
                      <label>Location B
                        <input type="text" id="location_b" name="location_b">
                      </label>
                    </div>
                    <span>
                      <button type="submit" value="submit" id="search">Search</button>
                    </span>
                    <span>
                      <button type="submit" value="reset" id="reset-markers">Reset</button>
                    </span>
                </div>
            </form>
        </div>

<div id="map" style="height: 500px;"></div>



{% endblock %}