{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block page_title %}
Welcome!
{% endblock %}

{% block content %}

<div class="row welcome-page">
<!--     <div class="col-sm-6 welcome-logo">
        <img src="../static/img/coffee-mug.png" alt="cappuccino">
    </div> -->
    <div class="col-sm-12 login-div">
        <!-- login form -->
        <form action="/login" method="POST" class="login-form">
            <label>
                Email
            </label>
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="email">
            </div>
            <label>
                Password
            </label>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>
            <div>
                <button type="submit" class="btn btn-default login-button">Login</button>
            </div>
            <div class="ask_if_registered">Not registered? Click <a href="/register">here</a>!</div>
        </form>
    </div>
</div>

{% endblock %}
